# Data
Data/*

# Copy
Copy/*

# Shell
Code/Shell/

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
Result/*.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# Reference
Reference/

# Matlab Library
Code/MATLAB/BrainVis

# Tex
Draft/*.bak
Draft/*.aux
Draft/*.bbl
Draft/*.blg
Draft/*.log
Draft/*.out
Draft/*.gz
Outline/*.bak
Outline/*.aux
Outline/*.bbl
Outline/*.blg
Outline/*.log
Outline/*.out
Outline/*.gz